body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: gray;
}

#myCanvas { 
  background: black;
}

.player-input {
  position: absolute;
  left: calc(50vw + 10px);
  background-color: hsla(0, 0%, 100%, 0);
  color: hsl(0, 0%, 80%);
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 60%, 1);
}

#player-1-input {
  top: calc(50vh - 33px);
}

#player-2-input {
  top: calc(50vh - 3px);
}